#!/bin/bash -x

set -e

. common.sh

if [ -z "$TARGET" -o ! -d "$TARGET" ]; then
  echo "Missing target directory"
  exit 1
fi

mkdir -p "$TARGET/etc/puppet"
cat <<'EOF' > "$TARGET/etc/puppet/puppet.conf"
[main]
# The Puppet log directory.
logdir=/var/log/puppet

# Where Puppet stores dynamic and growing data.
# The default value is '/var/puppet'.
vardir=/var/lib/puppet

# Where Puppet PID files are kept.
rundir=/var/run/puppet

# Where SSL certificates are kept.
ssldir=$vardir/ssl

# Where facts are located
factpath = $vardir/lib/facter

[agent]
# Do reports
report=true
server=<%= scope.lookupvar("ganeti::debootstrap_puppet_server") %>

# Make sure splay is on
splay=true
EOF

chroot "$TARGET" /usr/bin/env DEBIAN_FRONTEND=noninteractive apt-get -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" install puppet tzdata util-linux lsb-release augeas-tools
